#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  place-items: center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  padding: 2em;
  position: relative;
}

.hud {
  position: fixed;
  inset: 0;
  pointer-events: none;
}
